<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>

    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>
<body>

    <h3>기기조회</h3>
    <a th:href="@{/machine/insert.bubble}"><button>기기등록</button></a>
    <a th:href="@{/washing/home.bubble}"><button>홈페이지</button></a>    

    <hr />
    
    <form th:action="@{/machine/delete.bubble}" method="post" id="form">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>번호</th>
                    <th>세탁기</th>
                    <th>기기번호</th>
                    <th>시간</th>
                    <th>가격</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="obj : ${list}">
                    <td><input type="checkbox" name="chk[]" th:value="${obj.no}" /></td>
                    <td th:text="${obj.no}"></td> <!--longValue()는 BigInteger에서는 불가능함-->
                    <td th:text="${obj.type}"></td>
                    <td th:text="${obj.typeno}"></td>
                    <td th:text="${obj.time}"></td>
                    <td th:text="${obj.price}"></td>
                </tr>
            </tbody>
        </table>

    <input type="button" value="삭제" onclick="deleteAction()" />

        
    </form>

    <!-- <input type="button" value="수정" th:onclick="formAction1(1)" />
    <input type="button" value="삭제" th:onclick="formAction1(2)" />  -->
    


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script> <!--모달 창 띄울 때 필요하던가 그럼-->

    <script th:inline="javascript" type="text/javascript">

        // function formAction1(code) {

        //     const form = document.getElementById('form');

        //     if(code === 1) {
        //         form.action = /*[[@{/machine/updatebatch.bubble}]]*/'';
        //     }
        //     else if(code === 2) {
        //         form.action = /*[[@{/machine/delete.bubble}]]*/'';
        //     }
        //     form.submit();
        // }

    function deleteAction() {

        const chk = document.getElementsByName("chk[]");

        let isCheck = 0;

      for(let i=0; i<chk.length; i++){ //찾은 개수만큼 반복함

            if(chk[i].checked === true) { //체크된게 있다면
            isCheck = 1;
            break;
            }

        }

        //체크 된 것이 있는지 확인. 1개라도 체크했다면 전송하기   
        if(isCheck === 1){
            
            if(confirm('삭제할까요?')) {
                document.getElementById("form").submit();
            }
            
        }else{   	  
            alert('항목을 선택해주세요');
            return false;
            
        }  
    }

    </script>


</body>
</html>