<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>
</head>
<body>
    <h3>수정</h3>
    <a th:href="@{/washing/home.bubble}">홈페이지</a>
    <a th:href="@{/machine/selectlist.bubble(wid=${wid})}">목록</a>

    <hr />

    <form th:ction="@{/machine/updateaction.bubble}">
        <table>
            <tr th:each="obj : ${list}">
                <td><input type="text" name="no[]" th:value="${obj.no}"  readonly/></td>
                <td><input type="text" name="type[]" th:value="${obj.type}"  /></td>
                <td><input type="text" name="typeno[]" th:value="${obj.typeno}"  /></td>
                <td><input type="text" name="time[]" th:value="${obj.time}"  /></td>
                <td><input type="text" name="price[]" th:value="${obj.price}"  /></td>
            </tr>
        </table>
        <input type="submit" value="수정">
    </form>


</body>
</html>