<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h3>홈화면 수정 필요</h3>
<hr/>
<div th:if="${user == null}">
    <a th:href="@{/customer/join.bubble}">고객회원가입</a>
    <a th:href="@{/login.bubble}">고객로그인</a>
</div>


<div th:if="${user != null}">
    <p th:text="${user.username}"></p>
    <p th:text="${user.authorities[0]}"></p>
    <a th:href="@{/customer/home.bubble}">고객 홈페이지</a>
    <form th:action="@{/logout.bubble}" method="post">
        <input type="submit" value="로그아웃">
    </form>
</div>




</body>
</html>