<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body>
    <h2>비밀번호 찾기</h2>

    <form th:action="@{/customer/findpw.bubble}" method="post" id="findpwform">
        <table class="container" style="width: 500px;">
            <tr>
                <td><label for="id">아이디</label></td>
                <td><input type="text" id="id" name="id" class="form-control" placeholder="회원가입한 아이디를 입력하세요." /></td>
            </tr>
            <tr>
                <td><label for="email">이메일</label></td>
                <td><input type="email" id="email" name="email" class="form-control" placeholder="회원가입한 이메일을 입력하세요." /></td>
            </tr>
            <tr>
                <td><input type="button" id="checkEmail" value="찾기" onclick="findpwAction()" class="form-control"></td>
            </tr>
        </table>
    </form>

    <script th:inline="javascript" type="text/javascript">
        function findpwAction() {
            const id = document.getElementById("id");
            const email = document.getElementById("email");
            
            // 1. 유효성 검사
            if (id.value.length <= 0) {
                alert('아이디를 입력해주세요.');
                id.focus();
                return false;
            }
            
            if (email.value.length <= 0) {
                alert('이메일을 입력해주세요.');
                email.focus();
                return false;
            }

            document.getElementById("findpwform").submit();
        }
    </script>
</body>

</html>