<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Bumul</title>

    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel='stylesheet' th:href="@{/css/bootstrap.min.css.map}" />
    <link rel='stylesheet' th:href="@{/css/home.css}" />

    <!--탭 아이콘 변경-->
    <link rel="icon" th:href="@{/images/iconlog.png}">   

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <!-- 한글 font  -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>




</head>

<script>
    /* 스크롤 부드럽게 왔다갔다 */
    $(document).ready(function(){
    
      $("a").on('click', function(event) {
    
        if (this.hash !== "") {
    
          event.preventDefault();
    
          var hash = this.hash;
    
          $('html, body').animate({
    
            scrollTop: $(hash).offset().top
    
          }, 800, function(){
    
            window.location.hash = hash;
    
          });
    
        } 
    
      });
    
    });

    /* 매장 찾기 (위치 검색) */
    // $('document').ready(function() {
    //     var area0 = ["시 / 도를 선택하세요.","서울특별시","인천광역시","대전광역시","광주광역시","대구광역시","울산광역시","부산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주도"];
    //     var area1 = ["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구","중랑구"];
    //     var area2 = ["계양구","남구","남동구","동구","부평구","서구","연수구","중구","강화군","옹진군"];
    //     var area3 = ["대덕구","동구","서구","유성구","중구"];
    //     var area4 = ["광산구","남구","동구",     "북구","서구"];
    //     var area5 = ["남구","달서구","동구","북구","서구","수성구","중구","달성군"];
    //     var area6 = ["남구","동구","북구","중구","울주군"];
    //     var area7 = ["강서구","금정구","남구","동구","동래구","부산진구","북구","사상구","사하구","서구","수영구","연제구","영도구","중구","해운대구","기장군"];
    //     var area8 = ["고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"];
    //     var area9 = ["강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
    //     var area10 = ["제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
    //     var area11 = ["계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
    //     var area12 = ["군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
    //     var area13 = ["광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
    //     var area14 = ["경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
    //     var area15 = ["거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];
    //     var area16 = ["서귀포시","제주시","남제주군","북제주군"];

 

    // 시/도 선택 박스 초기화

    // $("select[name^=sido]").each(function() {
    //     $selsido = $(this);
    //     $.each(eval(area0), function() {
    //         $selsido.append("<option value='"+this+"'>"+this+"</option>");
    //     });
    //         $selsido.next().append("<option value=''>시 / 구 / 군 선택</option>");
    //     });

    

    // 시/도 선택시 구/군 설정

//     $("select[name^=sido]").change(function() {
//         var area = "area"+$("option",$(this)).index($("option:selected",$(this))); // 선택지역의 구군 Array
//         var $gugun = $(this).next(); // 선택영역 구군 객체
//         $("option",$gugun).remove(); // 구군 초기화

//         if(area == "area0")
//             $gugun.append("<option value=''>구 / 군 선택</option>");
//         else {
//             $.each(eval(area), function() {
//             $gugun.append("<option value='"+this+"'>"+this+"</option>");
//             });
//         }
//     });

// });
    
    </script>


<body>

    <header th:replace="~{/fragments/header.html :: header}"></header>

    <div class="maincontainerhome">
        <!-- 제일 먼저 보이는 화면 -->
        <div class="top-1" id="section1">
            <div class="top-2">
                <div class="row">
                    <div class="col-6 img-intro">
                        <img th:src="@{/images/white.png}" id="mainimg"> 
                    </div>
                    <div class="col-6" id="maintext">
                        <div class="text">
                            <h1 id="bubblebumul">Bubble Bumul</h1>
                            <!-- <hr id="mainline"/> -->
                             <div class="line"></div> 
                            <div id="bubbletext">
                                <p style="text-align: center; padding-right: 150px; font-size: 18px;">코인세탁방에서 기다리고 계시나요?<br />여러분의 소중한 시간 <br />버블버물이 지켜드립니다 !</p>
                                <div class="top-button" id="section2">
                                    <a class="btn btn-primary" href="#section3">이용 방법</a>
                                    <a class="btn btn-secondary" th:href="@{/customer/findwashing.bubble}">내 주변 세탁방 찾기 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="topload">
            <a href="#section1"><img th:src="@{/images/upload.png}"style="width: 40px;"></img></a>
        </div>
            <!-- 소개글 -->
        <div class="introduce">
            <div style="text-align: center; margin-top: 150px;">
                <h2 style="font-weight: bold;">버블버물 서비스 소개</h2>
            </div>
            <div id="info" >
                <div id="homeinfo1"> <!-- 기능1 -->
                    <p id="homeinfotitle">기능 1 </p> 
                    amet consectetur adipisicing elit. <br/>
                    Quibusdam repellendus, <br/>
                   
                </div>
                <div id="homeline"></div>
                <div id="homeinfo2">  <!-- 기능2 -->
                    <p id="homeinfotitle">기능 2 </p> 
                    amet consectetur adipisicing elit. <br/>
                    Quibusdam repellendus, <br/>
                     
                </div>
                <div id="homeline"></div>
                <div id="homeinfo3">  <!-- 기능3 -->
                    <p id="homeinfotitle">기능 3 </p> 
                    amet consectetur adipisicing elit. <br/>
                    Quibusdam repellendus, <br/>
                    
                   
                </div>
            </div>
        </div>
        <!-- 매장 찾기 -->
        <div class="find-washing text-center" style="width: 1800px; height: 300px;">
            <div class="card-body find-washing-title">
                <h3>우리동네 코인빨래방을 찾아보세요!</h3>
            </div>
            <div id="selectaddress" style="margin-bottom: 50px;">
                <table style="margin-bottom: 20px;">
                    <tr>    
                        <td>
                            <select id="city" onchange="selectedCity()">
                                <option value="none">지역(시/도) 선택</option>
                                <option th:each="city : ${citynamelist}" th:value="${city}" th:text="${city}"></option>
                            </select>
                        </td>
                        <td>
                            <select id="town"  onchange="selectedtown()">
                                <option value="none">지역(시/구/군) 선택</option>
                            </select>
                        </td>
                        <td><button type="button" id="searchaddress" class="btn btn-dark" onclick="showWahsingList()">조회</button></td>
                    </tr>    
                </table>
            </div>
        </div>

        <!-- 예약 기능 소개 -->
        <div class="reserve-info" id="section3">
            <div class="reserve-info-title">
                <h3>예약은 이렇게 진행됩니다!</h3>
            </div>
            <div class="row step">
                <div class="col-3 step-1">
                    <h4>STEP 01</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, molestiae?</p>
                    <div class="process"><span>></span></div>
                </div>
                <div class="col-3 step-2">
                    <h4>STEP 02</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, molestiae?</p>
                    <div class="process"><span>></span></div>
                </div>
                <div class="col-3 step-3">
                    <h4>STEP 03</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, molestiae?</p>
                    <div class="process"><span>></span></div>
                </div>
                <div class="col-3 step-4">
                    <h4>STEP 04</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, molestiae?</p>
                </div>
            </div>
        </div>

        <!-- 맨 밑 퀵버튼 -->
        <div class="quick-button">
            <button><a th:href="@{/reserve/letsgo.bubble}">빨래 먼저 하기</a></button>
            
            <button><a href="#">제휴 문의</a></button>
        </div>
    </div>


</body>

<footer th:replace="~{/fragments/footer.html :: footer}"></footer>

</html>