<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body>
    <h3>MYPAGE</h3>

    고객 등급 : 
    <th:block th:switch="${grade}">
        <span th:case="'1'">세탁 초보</span>
        <span th:case="'2'">세탁 프로</span>
        <span th:case="'3'">세탁 요정</span>
    </th:block>
    <br/>

    <a th:href="@{/customer/mypage.bubble(menu=1)}">예약 내역 조회</a>
    <a th:href="@{/customer/mypage.bubble(menu=2)}">회원 정보 수정</a>

    <div th:if="${#strings.equals(param.menu, '1')}">

    </div>

    <div th:if="${#strings.equals(param.menu, '2')}">
        <!-- 회원정보 수정 -->
        <form th:action="@{/customer/mypage.bubble(menu=2)}" th:object="${customer}" method="post" id="updateform">
            <table class="container" style="width: 500px;">
                <tr>
                    <td><label for="id" id="lbl_check">아이디</label></td>
                    <td><input type="text" th:field="${customer.id}" name="id" id="id" readonly /></td>
                </tr>
                <tr>
                    <td><label for="password">비밀번호</label></td>
                    <td><input type="password" th:field="${customer.password}" id="password" name="password" autoComplete="off" readonly /></td>
                    <td><a th:href="@{/customer/updatepw.bubble}" class="btn btn-primary">비밀번호 변경</a></td>
                </tr>
                <tr>
                    <td><label for="name">이름</label></td>
                    <td><input type="text" th:field="${customer.name}" id="name" name="name" /></td>
                </tr>
                <tr>
                    <td><label for="phone">전화번호</label></td>
                    <td><input type="text" th:field="${customer.phone}" id="phone" name="phone"
                            placeholder="010-000-0000" /></td>
                </tr>
                <tr>
                    <td><label for="email">이메일 </label></td>
                    <td><input type="email" th:field="${customer.email}" id="email" name="email" /></td>
                </tr>
                <tr>
                    <td><label for="birth">생년월일</label></td>
                    <td><input type="date" th:field="${customer.birth}" id="birth" name="birth" readonly /></td>
                </tr>
                <tr>
                    <td><label id="t-caddl">주소</label></td>
                    <td><input type="text" th:field="${customer.address}" id="address" name="address" readonly /></td>
                    <td><input type="button" value="주소 찾기" id="add_button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" th:field="${customer.detailaddress}" id="detailaddress" name="detailaddress"
                            placeholder="상세 주소" /></td>
                    <td><input type="text" th:field="${customer.extraaddress}" id="extraaddress" name="extraaddress"
                            placeholder="참고 주소" readonly /></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="정보 수정" onclick="updateOne()" />
                    </td>
                    <td>
                        <td><a th:href="@{/customer/delete.bubble}" class="btn btn-primary">회원탈퇴</a></td>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- 주소등록 버튼을 누르면 나오는 모달창 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">주소 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <input type="text" name="postcode" id="sample6_postcode" placeholder="우편번호" readonly>  -->
                    <input type="text" name="main_address" id="sample6_address" placeholder="주소" readonly>
                    <input type="button" class="btn btn-sm btn-primary" onclick="sample6_execDaumPostcode()"
                        value="주소 찾기"><br>
                    <input type="text" name="detail_Address" id="sample6_detailAddress" placeholder="상세주소">
                    <input type="text" name="extra_Address" id="sample6_extraAddress" placeholder="참고항목" readonly>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="insertAddressAction()">등록</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript" type="text/javascript">
        // daum 우편번호
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    // document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();

                }
            }).open();
        }

        // 주소 등록하기
        function insertAddressAction() {
            const main_address = document.getElementById('sample6_address');
            const detail_Address = document.getElementById('sample6_detailAddress');
            const extra_Address = document.getElementById('sample6_extraAddress');

            const address = document.getElementById("address");
            const detailaddress = document.getElementById("detailaddress");
            const extraaddress = document.getElementById("extraaddress");

            if (detail_Address.value.length <= 0) {
                alert('상세주소를 입력하세요.');
                detail_Address.focus();
                return false;
            }

            if (detail_Address.value.length > 0) {
                address.value = main_address.value;
                detailaddress.value = detail_Address.value;
                extraaddress.value = extra_Address.value;

                $('#exampleModal').modal('hide');
            }
        }

        function updateOne() {
            const name = document.getElementById("name");
            const phone = document.getElementById("phone");
            const email = document.getElementById("email");
            const detailaddress = document.getElementById("detailaddress");

            // 유효성 검사
            // 1. 모든 항목이 입력되어 있어야함
            if (name.value.length <= 0) {
                alert('이름을 입력하세요.');
                name.focus();
                return false; // 함수종료, 전송하지 않음
            }

            if (phone.value.length <= 0) {
                alert('전화번호를 입력하세요.');
                phone.focus();
                return false; // 함수종료, 전송하지 않음
            }

            if (email.value.length <= 0) {
                alert('이메일을 입력하세요.');
                email.focus();
                return false; // 함수종료, 전송하지 않음
            }

            if (detailaddress.value.length <= 0) {
                alert('상세 주소를 입력하세요.');
                detailaddress.focus();
                return false; // 함수종료, 전송하지 않음
            }

            document.getElementById("updateform").submit();
            alert('정보 수정이 완료되었습니다.');
        }
    </script>
</body>

</html>