<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel='stylesheet' th:href="@{/css/layout.css}" />
    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <style>
        .washing {border: 1px solid black; word-break: break-all;}
    </style>
</head>
<header th:replace="~{/fragments/header.html :: header}"></header>
<body>
    <h2>예약 화면</h2>

    <table style="margin-bottom: 20px;">
        <tr>
            <th>지역(시/도)</th>
            <th>지역(구/군)</th>
        </tr>
        <tr>    
            <td>
                <select id="city" style="width: 200px; text-align: center;" onchange="selectCity()">
                    <option value="none">지역(시/도) 선택</option>
                    <option th:each="city : ${citynamelist}" th:value="${city}" th:text="${city}"></option>
                </select>
            </td>
            <td>
                <select id="town" style="width: 200px; text-align: center;" onchange="selecttown()">
                    <option value="none">지역(구/군) 선택</option>
                </select>
            </td>
            <td><button type="button" class="btn btn-primary" onclick="showMyAddress()">내 주소 불러오기</button></td>
            <td><button type="button" class="btn btn-primary" onclick="showWahsingList()">조회</button></td>
        </tr>    
    </table>

    <div id="washinglisttable" style="display: none;">
        <h2>세탁 업체 목록</h2>
        <table width="900" style="margin-bottom: 20px; border-collapse: collapse; table-layout: fixed; text-align: center;">
            <thead style="background-color: #CCF2F4;">
                <tr>
                    <th width="5%" class="washing">선택</th>
                    <th width="15%" class="washing">세탁소명</th>
                    <th width="50%" class="washing">주소</th>
                    <th width="15%" class="washing">전화번호</th>
                </tr>
            </thead>
            <tbody id="washinglist">
            </tbody>
        </table>
    </div>

    <br />

    <div id="nextbtn" style="margin-bottom: 20px;"></div>

    <br />

    <div id="selectmachine" style="display: none;">
        <h2>기기 목록</h2>
        <table>
            <tr>
                <th>사용할 기기</th>
                <th>기기번호</th>
            </tr>
            <tr>    
                <td>
                    <select id="machine" style="width: 200px; text-align: center;" onchange="selectMachine()">
                        <option value="none">사용할 기기 선택</option>
                        <option value="세탁기">세탁기</option>
                        <option value="건조기">건조기</option>
                        <option value="일체형">일체형</option>
                    </select>
                </td>
                <td>
                    <select id="machineno" style="width: 200px; text-align: center;">
                        <option value="none">기기번호 선택</option>
                    </select>
                </td>
            </tr>    
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        const washinglisttable = document.getElementById("washinglisttable");
        const nextbtn = document.getElementById("nextbtn");
        const selectmachine = document.getElementById("selectmachine");

        async function selectCity() {
            washinglisttable.style.display="none";
            nextbtn.style.display="none";
            selectmachine.style.display="none";
            
            const city = $("#city option:selected").val();
            
            // rest api 호출
            const url = [[@{/api/reserve/selectcity.json}]] + `?city=${city}`;
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});

            // console.log(data.town);

            if (data.town.length > 0) {
                const town = document.getElementById("town");
                town.innerHTML = '';
                town.innerHTML = '<option value="none">지역(구/군) 선택</option>';

                for (let obj of data.town) {
                    town.innerHTML += "<option value=" + obj + ">" + obj + "</option>";
                }
            }
        }

        async function showMyAddress() {
            washinglisttable.style.display="none";
            nextbtn.style.display="none";
            selectmachine.style.display="none";

            // rest api 호출
            const url = [[@{/api/reserve/myaddress.json}]];
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});

            // console.log(data.cityname);
            // console.log(data.townlist);
            // console.log(data.townname);

            if (data.cityname == null || data.townlist == null || data.townname == null) {
                alert('회원정보에 주소가 없습니다. 마이페이지에서 주소를 추가한 후 이용해주세요.');
                location.href = "http://127.0.0.1:8282/bubble_bumul/customer/mypage.bubble?menu=2";
            }
            else {
                $("#city").val(data.cityname).prop("selected", true);

                const town = document.getElementById("town");
                town.innerHTML = '';
                town.innerHTML = '<option value="none">지역(구/군) 선택</option>';

                for (let obj of data.townlist) {
                    town.innerHTML += "<option value=" + obj + ">" + obj + "</option>";
                }
                
                $("#town").val(data.townname).prop("selected", true);
            }
        }

        async function showWahsingList() {
            const city = $("#city option:selected").val();
            const town = $("#town option:selected").val();
            $('input[name="wnumber"]').removeAttr("checked"); 

            // rest api 호출
            const url = [[@{/api/reserve/washinglist.json}]] + `?city=${city}&town=${town}`;
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});
            
            // console.log(data.washinglist);
            
            selectmachine.style.display="none";

            if (town == "none"){
                alert('지역(구/군)을 선택해주세요.');
                document.getElementById("town").focus();
            }
            else {
                if (data.washinglist.length == 0) {
                    alert('예약 가능한 세탁소가 존재하지 않습니다. 다른 지역을 선택해주세요.');
                    // washinglisttable.innerHTML = '';
                    // nextbtn.innerHTML = '';
                    washinglisttable.style.display="none";
                    nextbtn.style.display="none";
                }
                else {
                    const washinglist = document.getElementById("washinglist");
                    washinglist.innerHTML = '';

                    for (let i=0; i<data.washinglist.length; i++){
                        // console.log(data.washinglist[i].name);
                        washinglist.innerHTML += `<tr>`
                                                    + '<td class="washing"><input type="radio" name="wnumber" value="' + data.washinglist[i].wnumber + '"/></td>' 
                                                    + '<td class="washing">' + data.washinglist[i].name + '</td>'
                                                    + '<td class="washing">' + data.washinglist[i].address + '</td>'
                                                    + '<td class="washing">' + data.washinglist[i].phone + '</td>'
                                                    + `</tr>`
                                                    ;
                    }

                    nextbtn.innerHTML = '';
                    nextbtn.innerHTML += `<button type="button" class="btn btn-primary" onclick="chooseMachine()">업체 선택 완료</button>`;

                    washinglisttable.style.display="inline-block";
                    nextbtn.style.display="inline-block";
                }
            }
        }

        function selecttown() {
            washinglisttable.style.display="none";
            nextbtn.style.display="none";
            selectmachine.style.display="none";
        }
        
        function chooseMachine() {
            $("#machine").val("none").prop("selected", true);
            $("#machineno").val("none").prop("selected", true);

            const wnumber = $('input[name="wnumber"]:checked').val();

            if (wnumber == null || typeof wnumber == "undefined") {
                alert('세탁 업체를 선택해주세요.');
            }
            else {
                // console.log(wnumber);
                selectmachine.style.display="inline-block";
            }
            
            // const form = document.createElement("form");
            // form.setAttribute("action", [[@{/reserve/selectmachine.bubble}]]);
            // form.setAttribute("method", "get");
            // form.style.display="none";

            // const input = document.createElement("input");
            // input.type = "hidden";
            // input.name = "wnumber";
            // input.value = wnumber;

            // form.appendChild(input);

            // document.body.appendChild(form);
            // form.submit();
        }

        async function selectMachine() {
            const wnumber = $('input[name="wnumber"]:checked').val();
            const machine = $("#machine option:selected").val();

            // rest api 호출
            const url = [[@{/api/reserve/selectmachine.json}]] + `?wnumber=` + wnumber + `&machine=` + machine;
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});

            // console.log(data.typeno);

            if (data.typeno.length <= 0) {
                if (machine === "일체형"){
                    alert('사용가능한 ' + machine + '이 없습니다. 다른 기기를 사용해주세요.');
                }
                else if (machine === "none") {
                    alert('기기를 선택해주세요.');
                    document.getElementById("machine").focus();
                }
                else {
                    alert('사용가능한 ' + machine + '가 없습니다. 다른 기기를 사용해주세요.');
                }
            }
            else {
                const machineno = document.getElementById("machineno");
                machineno.innerHTML = '';
                machineno.innerHTML = '<option value="none">기기번호 선택</option>';

                for (let obj of data.typeno) {
                    machineno.innerHTML += "<option value=" + obj + ">" + obj + "</option>";
                }
            }
        }
    </script>
</body>
</html>