<!--전체 게시판-->


<table id="datatableSimple">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="obj : ${list}">
            <td th:text="${obj.no}"></td>
            <td th:text="${obj.title}"></td>
            <td th:text="${obj.writer}"></td>
            <td th:text="${#dates.format(obj.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${obj.hit}"></td>
        </tr>
    </tbody>
</table>


<!-- Simple DataTable용 JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        new simpleDatatables.DataTable("#datatableSimple", {
            searchable: true,
            fixedHeight: true,
        });
    });
</script>
