<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>
</head>
<body>

    <h3>로그인</h3>
    <a th:href="@{/washing/join.bubble}"><button>회원가입</button></a>
    <hr />

    <form th:action="@{/washing/loginaction.bubble}" method="post">
        아이디 <input type="text" name="id" /> <br />
        비밀번호 <input type="text" name="password" /> <br />
        <input type="submit" value="로그인" />
    </form>
    
</body>
</html>