<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>
</head>
<body>

    <h3>비밀번호 변경</h3>

    <form th:action="@{/washing/pwupdate.bubble?(id=${user.username})}" method="post">

        <hr />

        <table class="container" width=" 400px">
            <tr>
                <td><label for="password"> 비밀번호 </label></td>
                <td><input type="password" th:field="${washing.password}" class="form-control" readonly></td>
            </tr>
            <tr>
                <td><label for="password"> 새 비밀번호 </label></td>
                <td><input type="text" th:field="${washing.password}" class="form-control" readonly></td>
            </tr>
            <tr>
                <td><label for="password"> 새 비밀번호 확인 </label></td>
                <td><input type="text" th:field="${washing.password}" class="form-control" readonly></td>
            </tr>
        </table>

    </form>

    
    
</body>
</html>